/* ================================= 
  Base Styles
==================================== */

/* Typical body elements */
* {
    box-sizing: border-box;
    /* Undirlína ofl teknir af links */
    text-decoration: none;
}

/* Font family yfir allar síður */
body {
    font-family: 'Rubik', sans-serif;
}

/* Dropshadow undir navbar */
header {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 60%, rgba(255,255,255,0.9), rgba(255,255,255,0.8)); /* Fade out pælingin í navbar */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 80px;
    position: fixed; /* Set navbar í fixed position */
    top: 0; /* Staðsett á toppnum */
    width: 100%; /* Full width, annars fellur flexið saman*/
}

/* Navbar linkar skilgreindir */
li a {
    font-size: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    font-size: 20px;
    text-align: center;
    /* textcolor noplastic */
    color: #363636;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

li a:hover {
    text-decoration: underline;
    color: #ddbfbd;
}

/* Bil á milli hnappa í navbar */
.nav-buttons {
    margin-left: 41px
}

/* Stillingar á navbar í header */
.cart-ico {
    margin: 0 53px 0 22px;
}

.nav-icon {
    height: 36px;
}
 /* Þetta er til að stilla staðsetningu á logo og miðjusetja alveg (lagast fyrir lokaskil) */
.logo {
    margin: 0 120px 0 -80px;
    height: 65px;
}

.front-page {
    background-image: url(../img/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Heading texti í mynd */
 h1.front-title-text{
    margin-left: 855px;
    padding-top: 405px;
    font-style: normal;
    font-weight: normal;
    line-height: 120px;
    font-size: 64px;
    text-align: center;
    color: #787878;
}

/* Almennt fyrir h2 */
h2.h2-centered,
h2.h2-normal {
    font-style: normal;
    font-weight: 300;
    line-height: 94px;
    font-size: 50px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

h2.h2-centered {
    text-align: center;
    padding: 63px 0 59px;
}

h2.h2-normal {
    padding: 0 0 59px;
}

.second {
    padding-left: 120px;
}

/* Texti á forsíðu */
.info-text {
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 24px;
    max-width: 350px;
    margin: -20px 0 90px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Bleikur takkarnir stórir  */
.btn-holder{
    margin:0 auto;
}
.btn-holder .btn{
    color: #fff;
    padding: 10px 25px;
    background-color: #DDBFBD;
    border: 3px solid #DDBFBD;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
}
.btn-holder .btn:hover{
    background-color: white;
    color: #DDBFBD;
    box-shadow: none;
}
/*Grænu takkarnir stórir */

.btn-holder-green .btn-green{
    color: #fff;
    padding: 10px 35px;
    background-color: #5D9699;
    border: 3px solid #5D9699;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
}
.btn-holder-green .btn-green:hover{
    background-color: white;
    color: #5D9699;
    box-shadow: none;
}

 /* Stillingar á vöruglugga */
.vara {
    padding-top: 20px;  /* Svo vörurnar klessist ekki við rammann á top */
    border: 3px solid #DDBFBD;
    box-sizing: border-box;
    border-radius: 20px;
}

.vara:hover {
    padding-top: 16px; /* Stoppar hökt í innihaldi þegar hoverað er yfir */
    border: 7px solid #DDBFBD;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.vara-text,
.vara-price {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.vara-price {
    font-weight: normal;
    margin-bottom: 40px;
}

.info {
    width: 43%;
}

/* Bilið á milli vara og infoglugga */ 
.other-content {
    padding-top: 50px;
}

/* myndir í info gluggum */
.fyrst {
    background-image: url(../img/plastics.jpg);
    background-repeat: no-repeat;
}

.fourth {
    background-image: url(../img/bakan.jpg);
    background-repeat: no-repeat;
}

/* paragraph textinn í info gluggum */
p.info-text {
    font-size: 30px;
}

/* Er í einhverju veseni með að koma iconunum í vertical align middle */
.main-footer {
    height: 70px;
    background-color: #BDCECF;
    /* margin-top: 90px; */
    width:100%;
    vertical-align: middle; /* Skoða hvað veldur að þetta virkar ekki */
   
   
}
.footer-content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer-mynd {
    height: 29px;
    margin: 0 7px;
}


/* Stillingar á myndum í ramma */
.vara-mynd {
    align-self: center; /* kemur í veg fyrir að myndit "strekkist" */
    height: 300px; /* Myndir voru of stórar */
    margin-bottom: 30px; /* Ýta takka aðeins frá verðinu */
}